@model IEnumerable<Pipelights.Database.Models.CategoryEntity>

<style>
    footer {
        display: none;
    }
</style>

<div class="container">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <h2>Bine ai venit!</h2>
    </div>

    
</div>
