
@{
    ViewData["Title"] = "Dashboard";
}


<style>
    footer {
        display: none;
    }
</style>

<div class="container">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <h2>Bine ai venit!</h2>
    </div>
    <br />
    <br />
    <div class="row">

        <div class="col-md-4">
            <div class="product-item">
                <div class="down-content">
                    <a href="~/Admin/ProductsDashboard">
                        <h4 style="
                                      background-color: orangered;
                                      color: white;
                                      padding: 6px;
                                      border-radius: 7px;">
                            Administreaza Produse
                        </h4>
                    </a>
                </div>
            </div>
        </div>

         <div class="col-md-4">
            <div class="product-item">
                <div class="down-content">
                    <a href="~/Admin/CategoriesDashboard">
                        <h4 style="
                                      background-color: cadetblue;
                                      color: white;
                                      padding: 6px;
                                      border-radius: 7px;">
                            Administreaza Categorii
                        </h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="product-item">
                <div class="down-content">
                    <a href="~/Admin/VouchersDashboard">
                        <h4 style="
                                      background-color: MediumSeaGreen;
                                      color: white;
                                      padding: 6px;
                                      border-radius: 7px;">
                            Administreaza Vouchere
                        </h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="product-item">
                <div class="down-content">
                    <a href="~/Admin/OrdersDashboard">
                        <h4 style="
                                      background-color: mediumpurple;
                                      color: white;
                                      padding: 6px;
                                      border-radius: 7px;">
                            Vezi comenzi
                        </h4>
                    </a>
                </div>
            </div>
        </div>
      
    </div>
</div>


