@model Pipelights.Database.Models.OrderEntity

@{
    ViewData["Title"] = "Confirmation";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="container">
    <div>
        <h1>Comanda cu numarul @Model.id a fost plasata!</h1>
        <br/><br/>
        <h2>Te vom tine la curent cu stadiul comenzii. Pentru orice informatie ne puteti contacta prin <a href="~/Home/Contact">pagina de contact</a> sau prin alte mijloce prezentate</h2>
        <br/><br/>
        <h3><a href="~/Products">Vezi alte Lampi</a> by Serox</h3>

    </div>
</div>
